
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}


.container{
    padding-top: 5rem;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5rem;
    /* margin-left: 10%;
    margin-right: 10%; */

}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.page-title{
  text-align: center;
  color: darkblue;
  font-size: 2rem;
  padding: .5rem;
}

/*
    element inside the section are side by side
    justify-content: center; all the content inside this element will go to the center

*/

body{
    background: rgb(157, 176, 225);
}
.card{
    background-color: rgba(193, 215, 234, 0.982);
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    height: 150px;
    margin-bottom: 15px;
    width: 270px;
    border-radius: 15px 15px 0 0;
    background-size: cover;

}

.card-par{
    padding: 10px;
    width: 270px;
    height: 100px;
}

.card a{
    margin: 20px 50px;
    background-color: rgb(52, 113, 167);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;


}

.card a:hover{
    background-color: rgb(86, 133, 228);
    color:  white;
    transform: scale(1.03);
}
/*
====================================================================================
                        Nav Bar
====================================================================================
*/

:root {
    /*   color variables */
    --clr-primary: #75c2ee;
    --clr-primary-hover: #8f92ee;
    --clr-primary-dark: #4584f1;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
  
    /*   border radius */
    --radius: 0.2rem;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  .nav-list {
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  
  .nav-item {
    list-style: none;
    margin-right: 2rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
  }
  
  .nav-item a:hover {
    color: var(--clr-primary-dark);
  }
  
  .nav-item:first-child {
    list-style: none;
    margin-right: auto;
    margin-left: 2rem;
    color: b;
  }
  
  .logo{
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
    margin-left: 2rem;
    color: blue;
    font-size: larger;

  }
